.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
}

.header-container button {
  background-color: var(--bgcolor);
  font-size: 15px;
}

.header-container button:hover {
  background-color: var(--darkbgcolor);
}
