@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

:root {
  --shadow-color: rgba(0, 0, 0, 0.1);
  --bgcolor: rgb(130, 106, 251);
  --darkbgcolor: rgb(88, 56, 250);
  --fontcolor: #333;
  --red: red;
  --light-red: #ff3535;
  --orange: orange;
  --dark-orange: orangered;
  --light-gray: #ddd;
  --gray: gray;
  --green: green;
  --disabledbgcolor: #c4c4c4;
  --disabledcolor: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 8px;
}
