@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

:root {
  /* Shadows */
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* Primary Theme Colors */
  --color-primary: rgb(130, 106, 251);
  --color-primary-dark: rgb(88, 56, 250);

  /* Status Colors */
  --color-error: red;
  --color-error-light: #ff3535;
  --color-warning: orange;
  --color-warning-dark: orangered;
  --color-success: green;

  /* Gray Scale */
  --color-gray-light: #ddd;
  --color-gray: gray;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.error-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
}

.error {
  color: var(--color-error) !important;
}

.error-icon {
  color: var(--color-error) !important;
  font-size: 18px;
}

button {
  height: 2.5rem !important;
  cursor: pointer !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  margin-top: 2% !important;
  border: none !important;
  color: var(--color-gray-light);
  background: var(--color-primary);
}


/* Home Component  */
.home-container {
  display: flex;
  flex-direction: column;
}